.categories {
    background-color: hsla(50, 98%, 65%, 0.5);
    height: 90vh;
    width: 80%;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    /* flex-direction:row;
    justify-content: space-between;
    align-items: center; */
  }

  .category{
    /* width: 50%; */
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .category{
    background-color: hsla(50, 98%, 65%, 0.5);
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80%; */
    /* height: 90vh; */
    /* margin: 0 10px; */
    border-radius: 10px;
    background-blend-mode: luminosity;
  }