.categories {
  background-color: hsla(50, 98%, 65%, 0.5);
  height: 90vh;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  /* flex-direction:row;
    justify-content: space-between;
    align-items: center; */
}

.category {
  background-color: hsla(50, 98%, 65%, 0.5);
  /* background-image: url(../img/bg.jpg); */
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 80%; */
  /* height: 90vh; */
  /* margin: 0 10px; */
  border-radius: 10px;
  background-blend-mode: luminosity;
}

.category input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  visibility: hidden;
  position: absolute;
  right: 0;
}

.icon:hover{
    transform: scale(1.2);
    /* opacity: 1; */

  }

.icon {
  font-size: 5em;
  cursor: pointer;
  filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.7));
}
